</html>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>


</head>

<body>
  <%- include('./NavBar.ejs'); %>
    <div id="content">
      <section>
        <div class="container">
          <div class="row">
            <div class="col-lg-9">
              <h1>BIENVENIDA </h1>
              <p>Revisa La Ultima Informacion</p>
              <p>ASIGNACION BANCOS MRP</p>
              <form>
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="inputState">Cliente</label>
                    <select id="inputState" class="form-control">
                      <option selected>Buscar...</option>
                      <option>...</option>
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputState">Variedad</label>
                    <select id="inputState" class="form-control">
                      <option selected>Buscar...</option>
                      <option>...</option>
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputState">Año</label>
                    <select id="fecha" class="form-control">
                      <option selected>Buscar...</option>

                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputState">Semana Proyectada Para Siembra</label>
                    <select id="inputState" class="form-control">
                      <option selected>Buscar...</option>
                      <option>...</option>
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputState">Semana P Para Esterelizacion</label>
                    <select id="inputState" class="form-control">
                      <option selected>Buscar...</option>
                      <option>...</option>
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputState">Semana Cosecha Programada</label>
                    <select id="inputState" class="form-control">
                      <option selected>Buscar...</option>
                      <option>...</option>
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputState">Semana Entrega Marbetes</label>
                    <select id="inputState" class="form-control">
                      <option selected>Buscar...</option>
                      <option>...</option>
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputState">Tipo De MRP</label>
                    <select id="inputState" class="form-control">
                      <option selected>Buscar...</option>
                      <option>...</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputAddress">Observaciones</label>
                  <textarea name="" class="form-control" id=""></textarea>
                </div>
                <button type="button" onclick="guardadatos()" class="btn btn-primary">Crear MRP</button>
              </form>
              <hr class="w-100">
            </div>
            <div class="col-lg-3">
              <button class="btn btn-primary p-2 m-4">Descargar Informacion Bancos </button>
            </div>

          </div>
        </div>
      </section>
    </div>
    </div>
    </div>
</body>

</html>